<h1 class="display-4 text-center">Products Page</h1>

<div class = 'row'>
    <div class = "col-md-12">
        <form action="/products", method="GET">
            <div class = "form-group">
                <label for="">Select Category</label>
                <select onchange='this.form.submit()' class="form-select" name="category" id="">
                    <option value = "All">All Category</option>
                        <% category.forEach(item=> {%>
                        <option value=<%= item %>><%=item%></option>
                        <% }) %>
                </select>
            </div>
        </form>
    </div>
</div>

<hr>
<div class="row">
    <% data.forEach(element => {%>
    <div class="col-md-4 mb-4">
    <div class="card">
    <div class="card-header bg-dark">
    <%= element.name %>
    </div>
    <div class="card-body text-dark">
    <blockquote class="blockquote mb-0">
    <img class="product-logo" src="<%= element.logo%>" alt="">
    <p><%= element.description %></p>
    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
    </div>
    </div>
    </div>
    <% }) %>
    </div> 